@charset "utf-8";
/* CSS Document */

/* Browser/CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Her starter mit eget stylesheet */
body {
	font-family: sans-serif;
}

div {
	background: #ddd;
}
ul {
	padding-top: 10px;
	height: 250px;
	width: 333px;
	display: block;
	margin: 0 auto;

}
li {
	height: 50px;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.slogan {
	width: 100%;
	height: 200px;
	background: black;
}
h1, h2, li{
	text-align: center;
}
h1 {
	padding: 30px;
	color: white;
	font-size: 50px;
}
h2 {
	font-size: 30px;
	padding-bottom: 10px;
}
.nyheder {
	height: 800px;
}
footer {
	margin-top: 50px;
	height: 100px;
}
.hotbot {
	width: 100%;
}
.hotbotoverskrift {
	padding-top: 10px;
}
.hotbotlogo {
	display: block;
	margin: 0 auto;
}
.logo {
	width: 400px;
}

.hotbottekst {
	padding-top: 20px;
	line-height: 150%;
}
.erhverv {
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 25px;
}
.privat {
	padding-top: 30px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 25px;
}
